---
- name: Install fail2ban
  ansible.builtin.apt:
    name: fail2ban
    state: present
  tags: [fail2ban]

- name: Configure fail2ban SSH jail
  ansible.builtin.template:
    src: sshd.local.j2
    dest: /etc/fail2ban/jail.d/sshd.local
    owner: root
    group: root
    mode: "0644"
  notify: Restart fail2ban
  tags: [fail2ban]

- name: Ensure fail2ban service is enabled and running
  ansible.builtin.systemd:
    name: fail2ban
    enabled: true
    state: started
  tags: [fail2ban]
