[Time]
{% if time_sync_ntp_servers | length > 0 -%}
NTP={{ time_sync_ntp_servers | join(' ') }}
{% endif -%}
{% if time_sync_fallback_servers | length > 0 -%}
FallbackNTP={{ time_sync_fallback_servers | join(' ') }}
{% endif -%}
