---
- name: Ensure UFW is installed
  ansible.builtin.apt:
    name: ufw
    state: present
  tags: [ufw]

- name: Ensure SSH is allowed
  community.general.ufw:
    rule: allow
    name: OpenSSH
  tags: [ufw]

- name: Set default incoming policy to deny
  community.general.ufw:
    direction: incoming
    policy: deny
  tags: [ufw]

- name: Set default outgoing policy to allow
  community.general.ufw:
    direction: outgoing
    policy: allow
  tags: [ufw]

- name: Enable UFW
  community.general.ufw:
    state: enabled
  tags: [ufw]
