{
  "data-root": "{{ docker_engine_data_root }}",
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_engine_log_max_size }}",
    "max-file": "{{ docker_engine_log_max_file }}"
  }
}
